body{
	font-size: 17px;
	font-family: JetBrains Mono;
	background: #f4f4f4;
	line-height: 1.5rem;
}

header{
	background: #3333;
	color: #fffff;
	padding: 15px;
	text-align: center;
}

#container{
	width: 90%;
	margin: auto;
	padding: 10px;
}

.myClass{
	background: #ccc;
	color : yellow;
}

#box{
	background: #3333;
	color: $ffff;
	width: 500px;
	height: 90px;
	padding: 40px;
	text-align: center;
}

#box2{
	background: red;
	width: 100px;
	height: 100px;
	position: relative;
}
